* {
	font-family: Verdana, 'Open Sans', sans-serif;
	color: #ddd7dd;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

#card {
	height: 100vh;
}

#cardOuter {
	background-color: #ddd7dd;
	height: 100vh;
}

#cardInner {
	background-color: #fb8cff;
	height: 100vh;
}

#date {
	font-size: 800%;
	text-align: center;
}

#haaHashtag {
	font-size: 350%;
	padding-top: 2%;
	text-align: center;
}

#names {
	font-size: 450%;
	padding-top: 2%;
	text-align: center;
}

#timeandlocation {
	font-size: 200%;
	padding-top: 4%;
	text-align: center;
}

#timer {
	font-size: 180%;
	text-align: center;
}