@font-face {
	font-family: "Some Weatz";
	src: url("../fonts/SomeWeatz_with_symbols.ttf");
}

@font-face {
	font-family: "Windsong";
	src: url("../fonts/Windsong.ttf");
}

@font-face {
	font-family: "Riesling";
	src: url("../fonts/riesling.ttf");
}

@font-face {
	font-family: "HenryMorganHand";
	src: url("../fonts/HenryMorganHand.ttf");
}

@font-face {
	font-family: "Nickainley";
	src: url("../fonts/Nickainley-Normal.ttf");
}

@font-face {
	font-family: "Sunday";
	src: url("../fonts/Sunday-Regular.ttf");
}

@font-face {
	font-family: "AquilineTwo";
	src: url("../fonts/AquilineTwo.ttf");
}

@font-face {
	font-family: "StylisCalligraphy";
	src: url("../fonts/Stylish_Calligraphy.ttf");
}

* {
	font-family: Verdana, 'Open Sans', sans-serif;
	color: #d6d6d6;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

#card {
	height: 1200px;
}

#cardOuter {
	background-color: #560b2f;
	padding: 8%;
	min-height: 100%;
}

#cardInner {
	background-color: #8a1a54;
	min-height: 100%;
	border-style: solid;
	border-color: #f5f8f8;
}

#emblem {
	text-align: right;
}

#date {
	font-family: StylisCalligraphy;
	font-size: 900%;
	text-align: center;
	padding-top: 2%;
}

#haaHashtag {
	font-family: Nickainley;
	font-size: 350%;
	padding-top: 4%;
	text-align: center;
}

#names {
	font-family: Riesling;
	font-size: 650%;
	padding-top: 4%;
	text-align: center;
}

#location {
	font-family: Riesling;
	font-size: 300%;
	padding-top: 18%;
	text-align: center;
}

#time {
	font-family: Riesling;
	font-size: 400%;
	text-align: center;
}

#timer {
	font-family: Nickainley;
	font-size: 250%;
	text-align: center;
	padding-bottom: 15%;
}