@font-face {
	font-family: "Some Weatz";
	src: url("../fonts/SomeWeatz_with_swashes.ttf");
}

@font-face {
	font-family: "Windsong";
	src: url("../fonts/Windsong.ttf");
}

* {
	font-family: Verdana, 'Open Sans', sans-serif;
	color: #d6d6d6;
	overflow: hidden;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

#card {
	height: 1000px;
}

#cardOuter {
	background-color: #d6d6d6;
	padding: 8%;
	min-height: 100%;
}

#cardInner {
	background-color: #cc2277;
	min-height: 100%;
}

#date {
	font-family: Some Weatz;
	font-size: 800%;
	text-align: center;
	padding-top: 2%;
}

#haaHashtag {
	font-size: 350%;
	padding-top: 2%;
	text-align: center;
}

#names {
	font-family: Windsong;
	font-size: 650%;
	padding-top: 2%;
	text-align: center;
}

#timeandlocation {
	font-size: 200%;
	padding-top: 4%;
	text-align: center;
}

#timer {
	font-size: 180%;
	text-align: center;
	padding-bottom: 20%;
}